<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>S캐시충전 성공</title>
</head>
<body>
<script>
    document.domain = "{{ MSTR }}"
    const targetWindow = window.opener
    targetWindow.doSuccessCallBackFunction({
      code: 'deliverResult',
      result: 'success',
      msg: '승부사 캐시 충전이 완료되었습니다.',
      mid: "{{ Mobilid }}",
      tid: "{{ Tradeid }}",
    })

    self.close()

</script>
</body>
</html>
